html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	user-select: none;
	font-size: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
